/* ----------------  */
/* Variables    */
/* ----------------  */
:root {
  --clr-neutral-900: 0 0% 0%;
  --clr-neutral-100: 0 100% 100%;
  --clr-grey-200: 0 0% 85%;
  --clr-blue-100: 215 30% 92%;
  --clr-blue-50: 213 100% 98%;
}

/* ----------------  */
/* Custom Fonts      */
/* ----------------  */
@font-face {
  font-family: "Alata";
  src: url("./assets/fonts/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* ----------------  */
/* Reset             */
/* ----------------  */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  block-size: 100%;
  scrollbar-gutter: stable;
}

img,
iframe,
audio,
video,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

svg {
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

fieldset,
iframe {
  border: none;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  font-variant-numeric: proportional-nums;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  font-variant-numeric: lining-nums;
  font-weight: 400;
}

input,
label,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-neutral-100));
}

body {
  font: 400 0.9375rem/1.65 Alata, sans-serif;
  min-block-size: 100svh;
  background-color: hsl(var(--clr-neutral-100));
  color: hsl(var(--clr-neutral-900));
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* -----------------  */
/* Utility Classes    */
/* -----------------  */
/* General Layout */
.wrapper {
  width: min(95vw, 70rem);
  margin-inline: auto;
  padding-inline: 1em;
  padding-block-start: 1.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

[hidden] {
  display: none;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background-color: hsl(var(--clr-neutral-100));
  color: hsl(var(--clr-neutral-900));
  padding: 0.5rem 1rem;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* Colors */
/* Typography */
h1,
.looks-h1 {
  font: 300 clamp(2.5rem, 2.1rem + 2vw, 4.5rem)/1 Josefin Sans, sans-serif;
  text-transform: uppercase;
  color: hsl(var(--clr-neutral-100));
}

h2,
.looks-h2 {
  font: 300 clamp(2rem, 1.8rem + 1vw, 3rem)/1 Josefin Sans, sans-serif;
  text-transform: uppercase;
}

/* ----------------  */
/* Components        */
/* ----------------  */
.hero {
  position: relative;
  height: 40rem;
  max-width: 100%;
  overflow: hidden;
}
.hero__text {
  border: 1px solid hsl(var(--clr-neutral-100));
  padding: 1rem 1.5rem;
}
.hero__image {
  position: absolute;
  top: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  flex-direction: column;
}
header nav {
  text-transform: uppercase;
}
footer nav {
  text-align: center;
}

.nav__pages ul {
  display: grid;
  gap: 1rem;
}

.nav__socials ul {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.nav__socials ul a span {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
}

header .nav ul {
  display: none;
}
header .nav[data-open] {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: hsl(var(--clr-neutral-900));
  padding: 6rem 2.5rem;
}
header .nav[data-open] ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 45em) {
  header .nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
  }
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
}
.hamburger .hamburger__icon--open {
  display: inline-block;
}
.hamburger .hamburger__icon--close {
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 101;
}
.hamburger[aria-expanded=true] .hamburger__icon--open {
  display: none;
}
.hamburger[aria-expanded=true] .hamburger__icon--close {
  display: inline-block;
}
@media (min-width: 45em) {
  .hamburger {
    display: none;
  }
}

.section {
  text-align: center;
  margin-block: 6rem;
}
.section__image {
  margin-block-end: 3rem;
}
.section__title {
  margin-block-end: 1rem;
}
.section__text {
  font: 400 0.9375rem/1.65 Alata, sans-serif;
  opacity: 0.5;
  text-align: center;
}
@media (min-width: 45em) {
  .section {
    text-align: left;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  font: 400 0.875rem/1 Alata, sans-serif;
  letter-spacing: 5px;
  cursor: pointer;
  display: block;
  text-transform: uppercase;
  background-color: hsl(var(--clr-neutral-100));
  border: 1px solid hsl(var(--clr-neutral-900));
  padding: 0.625rem 2.5rem;
  margin: 2rem auto;
}
.btn:hover, .btn:focus {
  background-color: hsl(var(--clr-neutral-900));
  color: hsl(var(--clr-neutral-100));
  border-color: hsl(var(--clr-neutral-100));
}

/* ----------------  */
/* Page Specific     */
/* ----------------  */
/* ----------------  */
/* Layout            */
/* ----------------  */
footer {
  background-color: hsl(var(--clr-neutral-900));
  padding-block: 3.5rem;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
footer p {
  font: 400 0.9375rem/1.65 Alata, sans-serif;
  color: hsl(var(--clr-neutral-100));
  opacity: 0.5;
  text-align: center;
  margin-block-start: 1rem;
}

/*# sourceMappingURL=style.css.map */
